<br><br><br>
<div class="container text-center">
<h1>MyMotivator</h1>
<h2> Set your goals and create 6 steps to achieve them!</h2><hr>
<h3>Sign-Up or Log-In to get started</h3>
<br><br>
<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/79241-200.png">
</div>
</div>
