<br><br><br>
<div class="container text-center">
<h1>MyMotivator</h1>
<h2> Set your goals and create 6 steps to achieve them!</h2><hr>
<h3>Sign-Up or Log-In to get started</h3>
<br><br>
<img src="https://cdn3.iconfinder.com/data/icons/line/36/footsteps-512.png">
</div>
</div>
